@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p> Professor @ViewData["Professor"]</p>
<p>@ViewData["Email"] </p>

<address>
    <strong>More Informations: </strong> <a href="http://educandoweb.com.br">EducandoWeb.com.br</a>
</address>